{% extends 'Client/index.html.twig' %}


{% block body %}
<div class="d-flex justify-content-center mt-5 pt-5"> {# Added margin and padding to move content down #}
    <div class="w-75"> {# Adjust width as needed #}
        <h1 class="text-center">Create New Exercice Mental</h1>
        <br><br>
        {{ include('exercice_mental/_form.html.twig') }}

        <div class="text-center mt-3">
            <a href="{{ path('app_exercice_mental_index') }}" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
</div>
{% endblock %}
