{% extends 'admin/admin.html.twig' %}


{% block content %}
    <h1>Create new ExerciceMental</h1>

    {{ include('exercice_mental/_form.html.twig') }}

    <a href="{{ path('app_exercice_mental_index') }}">back to list</a>
{% endblock %}
