{% extends 'client/index.html.twig' %}

{% block body %}

    <!-- breadcrumb start -->
    
    <!-- breadcrumb end -->

    <!-- about us section start -->
    <section class="about_us single_about_padding">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-md-6 col-lg-6">
                    <div class="about_us_img">
                        <img src="img/top_service.png" alt="Notre Équipe">
                    </div>
                </div>
                <div class="col-md-6 col-lg-5">
                    <div class="about_us_text">
                        <h2>À propos de nous</h2>
                        <p>
                            Chez <strong>BetterHealth</strong>, nous sommes une équipe passionnée et dédiée, surnommée 
                            <strong>les Avengers</strong>, engagée à révolutionner la santé connectée. Notre objectif est de fournir des 
                            solutions innovantes pour améliorer la vie des individus en combinant technologie et soins.
                        </p>
                        <p>
                            Découvrez nos modules uniques, qui incluent : <br>
                            - Gestion des <strong>administrateurs</strong> et <strong>clients</strong>. <br>
                            - Organisation d’<strong>événements de santé</strong> et de <strong>charité</strong>. <br>
                            - Plateformes pour les <strong>produits</strong>, les <strong>dons de sang</strong>, et la <strong>santé mentale</strong>. <br>
                            - Système de prise de <strong>rendez-vous</strong> via une carte interactive et un calendrier pour trouver les services les plus proches. 
                        </p>
                        <a class="btn_2" href="#">En savoir plus</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about us section end -->

    <!-- modules section start -->
    <section class="our_depertment section_padding">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-xl-12">
                    <div class="depertment_content">
                        <h2>Nos Modules</h2>
                        <p>
                            Découvrez les fonctionnalités principales de BetterHealth qui rendent notre plateforme unique
                            et facile à utiliser pour répondre à tous vos besoins en matière de santé.
                        </p>
                        <div class="row">
                            <div class="col-lg-4 col-sm-6">
                                <div class="single_our_depertment">
                                    <span class="our_depertment_icon"><img src="img/icon/feature_1.svg" alt=""></span>
                                    <h4>Gestion des Clients</h4>
                                    <p>Une plateforme intuitive pour connecter les utilisateurs à nos services et gérer leurs profils facilement.</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6">
                                <div class="single_our_depertment">
                                    <span class="our_depertment_icon"><img src="img/icon/feature_2.svg" alt=""></span>
                                    <h4>Santé Mentale</h4>
                                    <p>Des outils pour le bien-être mental avec des contenus personnalisés et des rendez-vous sécurisés.</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6">
                                <div class="single_our_depertment">
                                    <span class="our_depertment_icon"><img src="img/icon/feature_3.svg" alt=""></span>
                                    <h4>Dons de Sang</h4>
                                    <p>Une carte interactive pour localiser les lieux de don les plus proches et organiser des campagnes.</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6">
                                <div class="single_our_depertment">
                                    <span class="our_depertment_icon"><img src="img/icon/feature_4.svg" alt=""></span>
                                    <h4>Événements de Santé</h4>
                                    <p>Organisez et participez à des événements qui promeuvent un mode de vie sain et solidaire.</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6">
                                <div class="single_our_depertment">
                                    <span class="our_depertment_icon"><img src="img/icon/feature_5.svg" alt=""></span>
                                    <h4>Produits de Santé</h4>
                                    <p>Accédez à une boutique dédiée aux produits essentiels pour la santé et le bien-être.</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6">
                                <div class="single_our_depertment">
                                    <span class="our_depertment_icon"><img src="img/icon/feature_6.svg" alt=""></span>
                                    <h4>Rendez-vous</h4>
                                    <p>Un outil intelligent pour planifier vos consultations médicales avec les professionnels proches de chez vous.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- modules section end -->

{% endblock %}
